.light-grey,.hover-light-grey:hover,.light-gray,.hover-light-gray:hover
{
    color:#000!important;
    background-color:#f1f1f1!important
}
.content,.auto
{
    margin-left:auto;
    margin-right:auto
}
.content
{
    max-width:980px
}
.margin-top
{
    margin-top:16px!important
}
.row-padding:after,.row-padding:before,.cell-row:before,.cell-row:after,.clear:after,.clear:before,.bar:before,.bar:after
{
    content:"";
    display:table;
    clear:both
}
.white,.hover-white:hover
{
    color:#000!important;
    background-color:#fff!important
}
.text-grey,.hover-text-grey:hover,.text-gray,.hover-text-gray:hover
{
    color:#757575!important
}
.card-4,.hover-shadow:hover
{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
}
.tooltip,.display-container
{
    position:relative
}
.display-bottomleft
{
    position:absolute;
    left:0;
    bottom:0
}
.text-black,.hover-text-black:hover
{
    color:#000!important
}
.margin-right
{
    margin-right:16px!important
}
.large
{
    font-size:18px!important
}
.text-teal,.hover-text-teal:hover
{
    color:#009688!important
}
.round-xlarge
{
    border-radius:16px
}
.small
{
    font-size:12px!important
}
.center
{
    text-align:center!important
}
.teal,.hover-teal:hover
{
    color:#fff!important;
    background-color:#009688!important
}
.col,.half,.third,.twothird,.threequarter,.quarter
{
    float:left;
    width:100%
}
@media (min-width:601px)
{
    .col.m1
    {
        width:8.33333%
    }
    .col.m2
    {
        width:16.66666%
    }
    .col.m3,.quarter
    {
        width:24.99999%
    }
    .col.m4,.third
    {
        width:33.33333%
    }
    .col.m8,.twothird
    {
        width:66.66666%
    }
    .col.m5
    {
        width:41.66666%
    }
    .col.m6,.half
    {
        width:49.99999%
    }
    .col.m7
    {
        width:58.33333%
    }
    .col.m8,.twothird
    {
        width:66.66666%
    }
    .col.m9,.threequarter
    {
        width:74.99999%
    }
    .col.m10
    {
        width:83.33333%
    }
    .col.m11
    {
        width:91.66666%
    }
    .col.m12
    {
        width:99.99999%
    }
}
.row-padding,.row-padding>.half,.row-padding>.third,.row-padding>.twothird,.row-padding>.threequarter,.row-padding>.quarter,.row-padding>.col
{
    padding:0 8px
}
.card,.card-2
{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
.margin-bottom
{
    margin-bottom:16px!important
}
.padding-16
{
    padding-top:16px!important;
    padding-bottom:16px!important
}
.xxlarge
{
    font-size:36px!important
}
.opacity,.hover-opacity:hover
{
    opacity:0.60
}
.panel
{
    margin-top:16px;
    margin-bottom:16px
}
.container,.panel
{
    padding:0.01em 16px
}
.container:after,.container:before,.panel:after,.panel:before,.row:after,.row:before,.row-padding:after,.row-padding:before,.cell-row:before,.cell-row:after,.clear:after,.clear:before,.bar:before,.bar:after
{
    content:"";
    display:table;
    clear:both
}
.round,.round-medium
{
    border-radius:4px
}
.tag
{
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center
}


@font-face
{
    font-family:'FontAwesome';
    src:url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0')format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.7.0')format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.7.0')format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.7.0')format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular')format('svg');
    font-weight:normal;
    font-style:normal
}
.fa
{
    display:inline-block;
    font:normal normal normal 14px/1 FontAwesome;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.briefcase:before
{
    content:"\f0b1"
}
.fw
{
    width:1.28571429em;
    text-align:center
}
.home:before
{
    content:"\f015"
}
.envelope-o:before
{
    content:"\f003"
}
.phone:before
{
    content:"\f095"
}
.asterisk:before
{
    content:"\f069"
}
.globe:before
{
    content:"\f0ac"
}
.suitcase:before
{
    content:"\f0f2"
}
.calendar:before
{
    content:"\f073"
}
.facebook-official:before
{
    content:"\f230"
}
.instagram:before
{
    content:"\f16d"
}
.snapchat:before
{
    content:"\f2ab"
}
.pinterest-p:before
{
    content:"\f231"
}
.twitter:before
{
    content:"\f099"
}
.linkedin:before
{
    content:"\f0e1"
}
